html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    

    background-color: whitesmoke;

    /* overflow: auto; */
    /* width: 200px; */
    
}

.crossword-container {
    background-color: lightgray;
    aspect-ratio: 1;


    /* width:100%; Responesivness
    height:100%; */
    
    width: 700px;
    height: 100%;


    /* width: 100%;
    height: 100%; */

    overflow: auto;

    margin: 2.5%;
    padding: 1%;

    display: inline-grid;
    grid-gap: auto;
    grid-template-columns:  repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    float: left;


}

.tile-number{

    text-align: left;
    line-height: normal;
    
    position: absolute;


    margin:2.5px;
    
    padding: 0;
    
    font-size: 10px;

    z-index: 1;
    
    
}

.across-index{
    display: inline-block;
}
.down-index{
    display: inline-block;
}
.hints-container ol div:hover {
    color:grey;
}

.letter-container {
    position: relative;
    /* display:flex */
    /* border-style: solid;
    border-width: 2px;
    border-color: bisque;
    border-radius: 7px;

    background: whitesmoke;


    display: block;

    width:  90%;
    height: 90%;
    
    line-height: 225%;
    
    text-align: center;
    z-index: 0;
    
    font-size: 1.1rem;
    

    color: black;

    aspect-ratio: 1; */
}

.letter-content {
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: bisque;
    border-radius: 7px;

    background: #f5f5f5;

    /* position: absolute; */

    display: block;

    width:  90%;
    height: 90%;
    
    line-height: 225%;
    
    text-align: center;
    z-index: 0;
    
    font-size: 1.1rem;
    /* font-size: 1vw; For responsiveneess */

    color: black;

    aspect-ratio: 1;
}


.hints-section {
    /* display:flex; */
    
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}
.hints-container {
    background-color: #FEFBF3;

    border-style: solid;
    border-color: bisque;
    border-radius: 5px;

    width: 400px;

    /* margin: 1%; */
}
#across {
    float: left;
}
#down {
    margin-top: 20px;
    float: left;
}

.hints-section .hints-title{
    color:#79B4B7;
    background-color: #F8F0DF;
    font-size: 2rem;
    text-align: center;
    
}

.hints-section ol{
    color: black;
    font-size: 0.95rem;
    /* text-align: center; */
}